In [48]:
import pandas as pd

In [49]:
data_path = 'data/sensor_metrics.csv'
df = pd.read_csv(data_path)
df.head()

,Unnamed: 0,date,field,value,device_id
0,0,2022-05-23 05:21:20.242008+00:00,battery_voltage,14.99837,SB1001
1,1,2022-05-23 05:21:51.183225+00:00,battery_voltage,14.99837,SB1001
2,2,2022-05-23 05:22:22.381353+00:00,battery_voltage,14.99837,SB1001
3,3,2022-05-23 05:22:52.605236+00:00,battery_voltage,14.99837,SB1001
4,4,2022-05-23 05:23:22.870146+00:00,battery_voltage,14.99837,SB1001

In [50]:
# showing values in 'field'
df['field'].value_counts()

battery_voltage    136464
data_balance       136464
db_level           136464
last_recorded      136464
last_uploaded      136464
panel_voltage      136464
signal_strength    136464
Name: field, dtype: int64

In [51]:
# 'count' portraying exact number of values within 'field'
df['field'].describe()

count              955248
unique                  7
top       battery_voltage
freq               136464
Name: field, dtype: object

In [52]:
df.field.unique()

array(['battery_voltage', 'data_balance', 'db_level', 'last_recorded',
       'last_uploaded', 'panel_voltage', 'signal_strength'], dtype=object)

In [64]:
# filtering out other values except for 'db_level_
df_field_data = ['db_level']
new_df = df[df.field.isin(df_field_data)]
new_df.head()

,Unnamed: 0,date,field,value,device_id
272928,272928,2022-05-23 05:21:20.257379+00:00,db_level,80.15035,SB1001
272929,272929,2022-05-23 05:21:51.194415+00:00,db_level,70.13739,SB1001
272930,272930,2022-05-23 05:22:22.392657+00:00,db_level,102.26990,SB1001
272931,272931,2022-05-23 05:22:52.616672+00:00,db_level,78.22692,SB1001
272932,272932,2022-05-23 05:23:22.881239+00:00,db_level,65.71063,SB1001